.mainproject{
    width: 80%;

}
.demo{
    object-fit: cover;
    height: 2.5rem;
    width: 5rem;
    border-radius: 0.5rem;
    align-content: center;
    font-size: 0.8rem;
    font-weight: 500;
    color: azure;
    background-color: black;
    border: solid 1px grey;
    &:hover{
        background-color: white !important;
        color: black;
        border: none !important;
        transition: all 0.3s !important;
        
    }
}
@media(max-width:1300px){
    .mainproject{
        width: 100% !important;
    }
} 
h6{
    font-family: itim;
}
h1{
    font-family: itim;
    font-size: 2.5rem;
}
@media(max-width:1200px) and (min-width:100px){
    .main-projects{
      gap: 2.5rem !important;
    }
}
