.about-picture{
    height:15rem;
    width:15rem;
}
.section{
    background-color:#1b1b1b;
    color: white;
    
}
@media(max-width:800px){
    .main-about{
        width: 100% !important;
       
    }
}
