/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #003285;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #003285;
  }

